<main>
    <section class="main-bgs">
        <div class="main-bg-left">
            <img src="assets/imgs/sushi.webp" alt="">
            <div class="main-bg-left-text">
                <p>welcome to <span>yoza</span></p>
                <p><span>kura</span>JAPANESE RESTAURANT & BAR</p>
            </div>
        </div>
        <div class="main-bg-right"></div>
    </section>

    <section class="explore-menu-content">
        <h2>TOKYO-INSPIRED JAPANESE <br> CUISINE & COCKTAILS <i class="fa-solid fa-arrow-turn-down"></i></h2>
        <div class="explore-menu-content-img-and-text">
            <img src="assets/imgs/explore-menu-img.webp" alt="">
            <div class="explore-menu-content-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit obcaecati nulla accusamus
                    repudiandae dolor. Quidem ipsa accusantium nesciunt minus nobis reiciendis, veritatis debitis
                    quae itaque sapiente at libero natus dolore.</p>
                <a href="order.html">Explore Our Menu</a>
            </div>
        </div>
    </section>

    <section class="contact-and-hours">
        <h2>DROP BY, <br> IT'S SUSHI TIME SOMEWHERE</h2>
        <div class="contact-and-hours-img-and-text">
            <div class="contact-and-hours-img">
                <img src="assets/imgs/contact-and-hours-img.webp" alt="">
            </div>
            <div class="contact-and-hours-text">
                <div>
                    <div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat cupiditate, modi
                            ducimus
                            sequi
                            corrupti corporis minima mollitia! Incidunt deleniti, iusto molestiae a repellendus
                            ullam
                            earum
                            eius provident minus ducimus architecto.
                        </p>
                    </div>
                    <div class="contact-and-hours-address">
                        <h3>address</h3>
                        <p>
                            500 TERRY FRANCINE STREET
                            <br>
                            SAN FRANCISCO, CA 94158
                        </p>
                    </div>
                    <div>
                        <h3>OPENING HOURS</h3>
                        <p>
                            MON - FRI: 12PM - 10PM
                            <br>
                            SATURDAY: 12PM - 12AM
                            <br>
                            SUNDAY: 12PM - 11PM
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
