* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: main-font;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

@font-face {
    font-family: main-font;
    src: url(assets/fonts/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: logo-font;
    src: url(assets/fonts/Caprasimo-Regular.ttf);
  }